@model Product

<html>
<body>
    <!-- Demo code for single product object 
        CRIANDO ACTIONS LINKS SIMPLES. USANDO AS 3 VARIAÇÕES ABAIXO. 
    @Html.ActionLink("Hyperlink 01", "TargetAction") <br />
    @Html.ActionLink("Hyperlink 02", "TargetAction", new { id = Model.ID })<br />
    @Html.ActionLink("Hyperlink 03", "TargetAction", new { name = Model.Name })<br />
    @Html.ActionLink("Hyperlink 04", "TargetAction", "TargetController", new { id = Model.ID }, new { style = "color:red" }) <br /> -->

    
    @using (Html.BeginForm("TargetAction", "TargetController")) {
        <input type="text" name="id" value="@Model.ID" /><br />
        <input type="text" name="name" value="@Model.Name" /><br />
        <input type="text" name="price" value="@Model.Price" /><br />
        <input type="submit" value="Submit" /><br />
    }

</body>
</html>